<app-navbar></app-navbar>

<!--
  ui-g - Classe do prime que indica um Grid
  ui-g-12 - Classe do prime que indica que será utilizado as 12 colunas do Grid
  pInputText - Diretiva que utiliza o padrão de input text do primeNG
  pButton - Diretiva do primeNG para butões
-->
<div class="container">
  <div class="p-grid">
    <div class="p-col-12">
      <h2>Produtos</h2>
    </div>
  </div>

  <!--
    ng-template - Diretiva do Angular para a utilização de templates em elemento HTML
    pTemplate - Diretiva que indica a parte da tabela
    let-lancamento - Cria uma variavel "lancamento" para cada item em "Lancamentos", definido no "[value]"
  -->
  <div class="p-grid">
    <div class="p-col-12">
      <!--
          [paginator] - Habilita paginação
          [rows] - Define o maximo de linhas por pagina como 2
          [responsive] - Adiciona responsividade a esta tabela, melhorando sua vizualiação em resoluções menores
         -->
      <p-table [value]="produtos" [paginator]="true" [rows]="5" [responsive]="true">
        <ng-template pTemplate="header">
          <!-- Impressão dos cabeçalhos -->
          <tr>
            <th class="col-codigo" pSortableColumn="codigo"><span class="cabecalho">Codigo</span>
              <p-sortIcon field="codigo"></p-sortIcon>
            </th>
            <th pSortableColumn="descricao"><span class="cabecalho">Descrição</span>
              <p-sortIcon field="descricao"></p-sortIcon>
            </th>
            <th class="col-estoque" pSortableColumn="estoque"><span class="cabecalho">Estoque</span>
              <p-sortIcon field="estoque"></p-sortIcon>
            </th>
            <th class="col-valor" pSortableColumn="preco"><span class="cabecalho">Valor</span>
              <p-sortIcon field="preco"></p-sortIcon>
            </th>
            <th class="col-fornecedor" pSortableColumn="fornecedor.descricao"><span class="cabecalho">Fornecedor</span>
              <p-sortIcon field="fornecedor.descricao"></p-sortIcon>
            </th>
            <th class="col-acoes" style="text-align: center;"><i class="pi pi-sliders-h"></i></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-produto>
          <!-- Impressão das colunas -->
          <tr>
            <td class="col-codigo">{{produto.codigo}}</td>
            <td>{{produto.descricao}}</td>
            <td class="col-estoque">{{produto.estoque}}</td>
            <td class="col-valor">{{produto.preco | currency: 'BRL' : true}}</td>
            <td class="col-fornecedor">{{produto.fornecedor.descricao}}</td>
            <td class="col-acoes">
              <!--
                  pTooltip - Adiciona um mensagem de overlay para os botões
                  tooltipPosition - Define que esta mensagem irá aparecer acima do botão
                 -->
              <a style="margin: 0px 5px;" pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top" href="http://localhost:4200/produtos/atualizar/{{produto.codigo}}"></a>
              <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top" (click)="confirmarExclusao(produto)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="p-col-12">
      <a pButton label="Novo Produto" href="http://localhost:4200/produtos/novo"></a>
    </div>
  </div>
</div>
