.cabecalho {
  font-weight: bold;
}

.col-estoque {
  width: 100px;

}

.col-valor {
  width: 100px;

}

.col-acoes {
  width: 120px;
}

.col-fornecedor {
  width: 300px;
}

.col-codigo {
  width: 120px;
}

.col-descricao {
  width: 500px;
}

.block-div {
   display: inline-flex;
}

