<app-navbar></app-navbar>

<div class="container">
  <form action="">
    <div class="p-grid">
      <div class="p-col-12">
        <h1>Novo Produto</h1>
      </div>

      <div class="p-col-12">
        <label>Descrição</label>
        <textarea pInputTextarea autoResize="autoResize" rows="3" style="width: 100%;"></textarea>
      </div>
      <div class="p-col-4">
        <label>Fornecedor</label>
        <input pInputText style="width: 100%;" type="text">
      </div>
      <div class="p-col-4">
        <label>Valor</label>
        <input pInputText style="width: 100%;" type="text" placeholder="0,00">
      </div>
      <div class="p-col-4">
        <label>Quantidade</label>
        <input pInputText style="width: 100%;" type="text">
      </div>
      <div class="p-col-12">
        <button style="margin-right: 20px;" pButton type="button" label="Salvar"></button>
        <a href="http://localhost:4200/produto">Voltar para os produtos</a>
      </div>
    </div>
  </form>
</div>

