/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(32, 38, 46);
  font-size: larger;
}

.titulo{
  color:#fff;
 }

label {
  font-weight: bold;
  margin: 5px;
}

/* Caso a largura da tela esteja acima de "1200px" aplica estas estilizações */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}

div {
  margin: 10px 0px 10px 0px;
}

.direita {
  position: absolute;
  top: 72.5%;
  right: 22.5%;
}

.botton{
  font-size: 30px;
  margin-top: -10px;
}

