<app-navbar></app-navbar>

<div class="container">
  <div class="p-grid">
    <div class="p-col-12">
      <h2 style="text-align: center;">Seja Bem-Vindo</h2>
    </div>
  </div>
  <div class="p-grid p-ai-center">
    <div class="p-col-6">
      <h3 class="tituloCarrosel">Edições Especiais!</h3>
      <p-carousel class="slides-wrapper" [value]="mini" [autoplayInterval]="3000" [circular]="true">
        <ng-template #item let-item let-i="index" let-mini pTemplate="mini">
          <div>
            <img class="items" [src]="mini.name">
          </div>
        </ng-template>
      </p-carousel>
    </div>
    <div class="p-col-6">
      <p-fieldset>
        <p-header style="font-weight: bold;">Sobre Nós</p-header>
        <span class="introducao">
          Somos uma empresa consolidada no ramo de miniaturas automobilisticas há mais de 20 anos, possuimos em nosso
          estoque os mais eximios exemplares, somando mais de 1001 modelos distintos!
          <br>Estamos prontos para lhe atender!
          <br>
        </span>
      </p-fieldset>
    </div>
  </div>


</div>
