<app-navbar></app-navbar>

<div class="container">
  <form>
    <div class="p-grid p-fluid">
      <div class="p-col-12">
        <h1>Atualizar Produto</h1>
      </div>

      <div class="p-col-12">
        <label>Descrição</label>
        <textarea pInputTextarea name="descricao" autoResize="autoResize" rows="3"
         [(ngModel)]="produto.descricao" required></textarea>
      </div>
      <div class="p-col-4">
        <label>Fornecedor</label>
        <p-dropdown name="fornecedor" [options]="fornecedores" optionLabel="descricao" [(ngModel)]="produto.fornecedor" required
          [style]="{'margin-top': '0px'}"></p-dropdown>
      </div>
      <div class="p-col-4">
        <label>Valor</label>
        <p-inputNumber name="preco" [(ngModel)]="produto.preco" mode="currency" currency="BRL" locale="pt-BR"
           required></p-inputNumber>
      </div>
      <div class="p-col-4">
        <label>Quantidade</label>
        <input pInputText name="estoque" type="text" [(ngModel)]="produto.estoque"
           required>
      </div>
    </div>
    <div class="p-col-12">
      <button style="margin-right: 20px;" pButton type="button" label="Salvar" (click)="atualizarProduto()"></button>
      <a href="http://localhost:4200/produto">Voltar para os produtos</a>
    </div>
  </form>
</div>
