<nav class="navbar">
  <div class="container">
    <div class="p-grid">
      <div class="p-col-12">
        <a href="javascript::" class="navbar-toggle" on-click="existindoMenu = !existindoMenu" >
          <i class="pi pi-bars botao"></i>
        </a>
      </div>
    </div>
  </div>

  <ul class="navbar-menu" [hidden]="!existindoMenu" >
    <li class="navbar-usuario navbar-menuitem" ><a style="color: white;" href="http://localhost:4200/">HOME</a></li>
    <li class="navbar-menuitem"><a href="http://localhost:4200/produtos/">Produtos</a></li>
    <li class="navbar-menuitem" ><a href="http://localhost:4200/fornecedores/">Fornecedores</a></li>
  </ul>
</nav>
