<nav class="navbar">
  <div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
        <a href="javascript:;"class="navbar-toggle" onclick="existindoMenu =!existindoMenu" >
          <i class="pi pi-bars"></i>
        </a>
      </div>
    </div>
  </div>

  <ul class="navbar-menu">
    <li class="navbar-usuario">Leandro Junio</li>
    <li class="navbar-menuitem"><a href="#">Produtos</a></li>
    <li class="navbar-menuitem" > <a href="#">Vendas</a></li>
    <li class="navbar-menuitem"><a href="#">Logout</a></li>
  </ul>
</nav>
